.social-widget .count{
	color:#7C7C7C;
	float:left;
	font-size:10px;
	font-weight:bold;
	line-height:25px;
	margin-right:20px;
	text-transform:uppercase;
}

.social-widget .count em{
	color:#0A6BBA;
	font-size:25px;
	font-style:normal;
	vertical-align:middle;
}

.social-widget .buttons{
	float: left;
	position: relative;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	overflow: hidden;
	width: 268px;
	margin-left: -5px;
}

.social-widget .buttons a {
	text-indent:-9999px;
	display:block;
	float:left;
	background-repeat:no-repeat;
	background-size:100%;
	margin-left:5px;
}

.social-widget .buttons a.twittershare {
	background-image: url("../preview/icons/SocialMedia-TwitterShare.png");
	width: 74px;
	height: 26px;
}

.social-widget .buttons a.facebookshare {
	background-image: url("../preview/icons/SocialMedia-FacebookShare.png");
	width: 74px;
	height: 26px;
}

.social-widget .buttons a.googleplusshare {
	background-image: url("../preview/icons/SocialMedia-GooglePlusShare.png");
	width: 74px;
	height: 26px;
}

.social-widget .buttons a.twitter {
	background-image: url("../preview/icons/SocialMedia-Twitter.png");
	width: 36px;
	height: 36px;	
}

.social-widget .buttons a.facebook {
	background-image: url("../preview/icons/SocialMedia-Facebook.png");
	width: 36px;
	height: 36px;	
}

.social-widget .buttons a.googleplus {
	background-image: url("../preview/icons/SocialMedia-GooglePlus.png");
	width: 36px;
	height: 36px;	
}